---
import { Icon } from 'astro-icon';

const { title, icon } = Astro.props
---

<header class="accordeon__header flex">
        <aside class="col-span-1 pt-2 pb-4 pl-8 mb-auto">
                <Icon name={icon} />
        </aside>
        <h3 class="accordeon__title pb-12 p-5">{title}</h3>
</header>

<style lang="scss">
        @import "../../style/_variables.scss";

        header {
                clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), 0 calc(100% - 8px));

                aside {
                        background-color: $darkbrown;
                        border-radius: 20px 0 0 50px;
                        position: relative;
                        width: var(--gap);

                        svg {
                                width: 80px;
                        }
                                
                        &::after {
                                content: url('/public/assets/svg/inverted-radius.svg');
                                position: absolute;
                                top: 100%;
                                right: -1px;
                        }
                }

                h3 {
                        color: $orange;
                        font-family: $headline-font;
                        font-weight: 900;
                        font-size: 3.375rem;
                        text-transform: uppercase;
                        background-color: $darkbrown;
                        border-radius: 0 50px 0 0;
                        position: relative;

                        &::after {
                                content: url('/public/assets/svg/inverted-radius.svg');
                                position: absolute;
                                bottom: -10px;
                                left: calc(100% - 1px);
                                transform: rotate(180deg);
                        }                                
                        
                }
        }
        
</style>
