---
import Layout from '../layouts/Layout.astro';

import laboImage from '../assets/images/labo-min.jpg';

const title = 'Over Elektro repair Mortsel';
const description = 'Over Elektro repair Mortsel, een eenmansreparatiedienst voor al uw elektrische en elektronische toestellen.';
---

<Layout title={title} description={description}>
    <div class="container grid grid-cols-12 lg:gap-10">
        <div class="col-span-5 flex flex-col justify-between">
            <h1 class="text-4xl sm:text-6xl mb-12">Over ons</h1>
            <h2 class="mb-12"><span>Elektro repair Mortsel een eenmansdienst die u helpt bij het herstellen van allerhande (elektronische) voorwerpen.</span>
                <span>Ik heb uitgebreide ervaring in de hersteldienst van Pioneer en ontwikkelde later als ingenieur optomechanische en elektronische toestellen bij Agfa.</span>
                <span>Ook ben ik actief bij het populaire <a href="https://www.vzwtransitiezuidtrant.be/repair-caf%C3%A9" target="_blank">Repair Café Zuidrand</a>.</span>
            </h2>
            <a href="/diensten" class="btn btn--gap mr-auto">Ontdek onze diensten</a>
        </div>
        <div class="col-span-7">
            <img src={laboImage} alt="Elektro repair Mortsel" width="800" height=600 />
        </div>
    </div>
</Layout>

<style lang="scss">
    @import "../style/_variables.scss";

    h2 a {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $darkbrown;
            transform: scaleX(1);
            transform-origin: right center;
            transition: transform 0.3s ease;
        }

        &:hover {
            &::after {
                transform: scaleX(0);
            }
        }
    }

    img {
        height:100% !important;
        object-fit: cover;
        border: 20px solid $darkbrown;
        border-radius: 50px 50px 290px 50px;
    }
</style>