---
const { cardTitle, cardImage } = Astro.props
---

<article class="card grid lg:grid lg:grid-cols-11 lg:col-span-11">
    <div class="card__left col-span-5 p-5 pb-8 pl-8">
        <h3 class="mb-4">{cardTitle}</h3>
        <div class="card__description">
            <slot />
        </div>
    </div>
    <img src={cardImage} alt={cardTitle} class="card__image col-span-6" width=800 />
</article>

<style lang="scss">
    @import "../style/_variables.scss";

    .card {
        margin-left: var(--gap);

        &:not(:last-of-type) {
            margin-bottom: 2.5rem;
        }

        &__left {
            background-color: $darkbrown;
            margin-bottom: auto;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 70px;
            position: relative;

            h3 {
                font-family: $headline-font;
                color: $orange;
                line-height: 1;
                font-weight: 900;
                font-size: 2.5rem;
                text-transform: uppercase;
            }

            .card__description {
                font-size: 1.125rem;
                
                p + p {
                    margin-top: 0.75rem;
                }
            }

            &::after { 
                content: "";
                position: absolute;
                top: 0;
                left: 100%;
                width: 100px;
                height: 100px;
                background-color: $darkbrown;
                z-index: -1;
            }
            
            &::before { 
                content: url('/assets/svg/inverted-radius.svg');
                position: absolute;
                top: 100%;
                right: 0;
            }
        }

        img {
            border: 20px solid $darkbrown;
            border-radius: 40px 190px 40px 80px;
        }
    }
</style>