---
import "@fortawesome/fontawesome-free/css/all.css";

import { Image } from 'astro:assets'

interface Props {
	images: object[];
}
const { images } = Astro.props as Props;

const carouselSlideWidth = 300;
const carouselSlideREMMargin = 1;
const carouselWrapperWidth = "calc(" + carouselSlideWidth * images.length + "px + " + carouselSlideREMMargin * (images.length - 1) + "rem)";
---
<div class="col-span-1 mb-40 ">
    <div class="carousel">
        <div class="carousel__buttons">
            <div class="carousel__button carousel__button--prev text-4xl pl-4"><i class="fa-solid fa-chevron-left"></i></div>
            <div class="carousel__button carousel__button--next text-4xl pr-4"><i class="fa-solid fa-chevron-right"></i></div>
        </div>
        <div class="carousel__wrapper" style={"width: " + carouselWrapperWidth}>
            {images.map((image, index) => {
                console.log(image);
                return <div class="carousel__slide" style={"left: calc(" + (index * carouselSlideWidth) + "px + " + (index * carouselSlideREMMargin) + "rem)"}>
                    <Image src={image} width="800" style={"width: " + carouselSlideWidth + "px;"} alt="Image"/>
                </div>
            })}
        </div>
    </div>
</div>

<style lang="scss">
    @import "../style/_variables.scss";

    .col-span-1 {
        position: relative;
    }

    .carousel {
        position: absolute;
        top: 0;
        width: 50vw;
        height: 100%;
        margin: -2rem -50% 2rem 0;
        z-index: 9;
        background: rgba(255 255 255 / 0.5);
        border: 2px solid $darkbrown;
        padding: 1.2rem;

        &__buttons {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            justify-content: space-between;
            width: 100%;
            z-index: 1;

            .carousel__button {
                transition: opacity 0.8s ease-in-out;
                background-color: $darkbrown;
                width: 50px;
                height: 50px;
                display:flex;
                justify-content: center;
                align-items: center;
            }
        }
        
        &__wrapper {
            position: absolute;
            display: flex;
            height: calc(100% - 2rem);
            top: 1rem;
            overflow-x: hidden;

            .carousel__slide {
                transition: transform 0.02s ease-in-out;
                position: absolute;
                height: 100%;

                &:not(:last-child) {
                    margin-right: 1rem;
                }

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
</style>

<script>
    // const carouselWidth = (document.querySelector('.carousel').getBoundingClientRect().width - 150) + 'px';
    // const carousels = document.querySelectorAll('.carousel');
    // carousels.forEach(el => {

    //     el.querySelector('.carousel__buttons').style.width = carouselWidth;
    //     el.querySelector('.carousel__button--prev').style.opacity = 0;

    //     let count = 0;
    //     let intervalID = null;

    //     function slideNext(){
    //         intervalID = setInterval(() => {
    //             if (count !== -100) {
    //                 count--;
    //                 el.querySelectorAll('.carousel__slide').forEach(slide => {
    //                     slide.style.transform = `translateX(${count}%)`;
    //                 });
    //                 el.querySelector('.carousel__button--prev').style.opacity = 1;
    //             } else {
    //                 el.querySelector('.carousel__button--next').style.opacity = 0;
    //             }
    //         }, 20);
    //     }

    //     function slidePrev(){
    //         intervalID = setInterval(() => {
    //             if (count !== 0) {
    //                     count++;
    //                     el.querySelectorAll('.carousel__slide').forEach(slide => {
    //                         slide.style.transform = `translateX(${count}%)`;
    //                     });
    //                     el.querySelector('.carousel__button--next').style.opacity = 1;
    //                 } else {
    //                     el.querySelector('.carousel__button--prev').style.opacity = 0;
    //                 }
    //         }, 20);
    //     };

       
    //     el.querySelector('.carousel__button--next').addEventListener('mouseenter', () => {
    //         slideNext();
    //     });
    //     el.querySelector('.carousel__button--prev').addEventListener('mouseenter', () => {
    //         slidePrev();
    //     });

    //     el.querySelectorAll('.carousel__button').forEach(button => {
    //         button.addEventListener('mouseleave', () => {
    //             intervalID = clearInterval(intervalID);
    //         });
    //     });
    // });
</script>