--- 

import "@fortawesome/fontawesome-free/css/all.min.css"

import "../style/main.scss"

import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro";

interface Props {
	title?: string;
	description?: string;
	classes?: string;
}

const { title, description, classes } = Astro.props as Props;

const mainClasses = classes ? classes : "pt-16 md:pt-24 / pb-24 md:pb-40";

---

<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		{description && <meta name="description" content={description} />}
		<title>Elektro Repair Mortsel{title && " | " + title}</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-CR9LHHPFX7"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-CR9LHHPFX7');
		</script>
		<Header />
		<main class={mainClasses}>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style lang="scss">
    @import "../style/_variables.scss";
	
	body {
		background-image: url('/assets/images/backdrop.jpg');
		background-size: cover;
	};

</style>